<!--
#Листинг 4.6: Home-страница без индивидуального заголовка страницы. ЗЕЛЕНЫЙ app/views/static_pages/home.html.erb
Листинг 5.2: Home-страница со ссылкой на страницу регистрации. app/views/static_pages/home.html.erb 
Листинг 5.34: Связывание кнопки со страницей регистрации. app/views/static_pages/home.html.erb -->

<h1>Febr_20 shielded-shelf-40331.herokuapp.com/19-57 </h1>
    <p>
<div class="center jumbotron">
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>
~/ch05_filling-in-layout branch master<p>
</p>
<%= link_to image_tag("241084701.gif", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
